.card-body
	margin: 40px auto
	margin-top: 70px
	#product-form
		.form-group
			margin: 25px 0
			margin-bottom: 1px
			display: flex
			flex-direction: row
			justify-content: space-between
			input, select
				width: 90%
		.isInvalid
			margin-top: 0
			text-align: right
			font-size: 15px
		.first_desc
			margin-top: 5px
		.optionalDesc
			margin-top: 25px
			width: 100%
			text-align: center
			font-size: 15px